.blogs {
  margin: 80px auto;
  width: 90%;
  text-align: center;
}
.latest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.latest img {
  width: 23%;
  border-radius: 10px;
  height: 250px;
}
